[*.{cpp,h,hlsl,hlsl}]

[exteranls/**]

generated_code=true

charset = utf-8

#スペルミスをエラーとして扱う
spelling_erro_severity=error

#スペルミスをチェックする対象を識別式とコメントに限定する
spelling_checkable_types=indentifiers,comments

#辞書の言語を英語（米国）に設定する
spelling_languages=en_us

#自分の辞書を作れるように標準の除外辞書はそのまま使用する
spelling_use_default_exclusion_dictionary=true

#自分の除外辞書を指定する
spelling_exclusion_path=./exclusion.dic


